<template>  
  <v-container>
    <v-row >  
      <v-col>

        <!-- TOOLBAR -->
        <v-row>
          <v-col class="d-flex" cols="12">
            <v-toolbar class="elevation-0">
              <v-toolbar-title>Nuevo Laboratorio</v-toolbar-title>
              <v-spacer></v-spacer>

              <!-- BTN ATRAS -->
              <v-btn 
                small
                class="ma-2" 
                color="blue lighten-2" 
                :to="{name:'catlab'}" 
                dark>Atras
              </v-btn>

              <!-- BTN GUARDAR -->
              
            </v-toolbar>
          </v-col>
          <v-col cols="12">
            <v-text-field
              clearable
              label="Laboratorio"
              v-model="lab"
              validate-on-blur
              class="pa-0"  
              outlined hide-details 
            ></v-text-field>
          </v-col>
          <v-btn 
            small 
            dark 
            class="ma-2" 
            @click.prevent="agregar"
            color="blue darken-3">Grabar
          </v-btn>
        </v-row>
      </v-col>
    </v-row>
             
    <!-- SNACK BAR -->
    <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      :color="color" 
      >
      {{text}}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        Cerrar
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>

  export default {
    data () {
      return {
        snackbar: false,
        text:'',
        color:'',

        lab:'',

        alerta:'',
        alertaInput: false
      }
    },


    computed: {
      validaInfo(){
        return  this.lab      !==  '' 
      },
    },
      
    methods:{


      agregar(){
        this.alerta = ''
        if(!this.validaInfo){
          if(!this.lab){
            this.alerta = `Asigna el nombre del laboratorio`
          }
          this.alertaInput = true
        }else{
          var payload = {
            nomlab:    this.lab,
            estatus: 1
          }
          this.$http.post('admin/laboratorios.add', payload).then(response=>{
            this.text  = 'Laboratorio agregado'
            this.snackbar = true
            setTimeout(() => (this.$router.push({name: 'catlab'})), 1500)
          })
        }
      }



    }

  }

</script>