<template>
	<v-container>
	  <v-row>
	  	<v-col cols="12">
	  		<v-card>
	  		  <v-card-title primary-title>
	  		    Versión del sistema 2.3
	  		  </v-card-title>
	  		  <v-card-text>
	  		  	Actualizaciones
	  		    <ul>
						  <li>Catálago de existencias en Salidas</li>
						  <li>Ingresar salida por producto</li>
						</ul>
						<br/>
						<v-divider></v-divider>
						<ul>
						  <li>Ingresar a la aplicación con Nombre de usuario o correo</li>
						</ul>
						<br/>
						<v-divider></v-divider>
						Fecha: 23 de Marzo del 2020
						<br/>
						<br/>
						<br/>

						Descargar nueva versión:
						<br/>
						<v-btn color="primary" small href="https://surtimedix.com/aplicaciones/surtimovil.apk" target="_blank"><v-icon>get_app</v-icon></v-btn>

						
	  		  </v-card-text>

	  		</v-card>		
	  	</v-col>
	  </v-row>
	</v-container>
</template>
<script>
	export default{
		methods:{
			descargar(){
				window.location = 'https://surtimedix.com/aplicaciones/surtimovil.apk'
			}
			
		}
	}
</script>