<template>  
  <v-container>
    <v-row >  
      <v-col>

        <!-- TOOLBAR -->
        <v-row>
          <v-col class="d-flex" cols="12">
            <v-toolbar class="elevation-0">
              <v-toolbar-title>Editar Artículo</v-toolbar-title>
              <v-spacer></v-spacer>

              <!-- BTN ATRAS -->
              <v-btn 
                small
                class="ma-2" 
                color="blue lighten-2" 
                :to="{name:'catproductos'}" 
                dark>Atras
              </v-btn>

              <!-- BTN GUARDAR -->
            </v-toolbar>
          </v-col>
          <v-col cols="7">
            <v-text-field
              readonly
              label="Código"
              v-model="codigo"
              validate-on-blur
              class="pa-0"  
              outlined hide-details 
            ></v-text-field>
          </v-col>
          <v-col cols="3">
            <v-btn 
              small 
              dark 
              class="ma-2" 
              @click.prevent="agregar"
              color="blue darken-3">Grabar
            </v-btn>
          </v-col>
          <v-col  cols="12">
            <v-text-field
              label="Nombre del artículo"
              v-model="nomart"
              outlined 
              hide-details 
            ></v-text-field>
          </v-col>
          <v-col  cols="12">
            <v-textarea
              label="Compuesto"
              v-model="sal"
              outlined 
              hide-details 
              >
              
            </v-textarea>
          </v-col>
          <v-col  cols="12">
            <v-select 
              outlined
              :items="laboratorios"
              v-model="laboratorio"
              :hint="` ${laboratorio.idlaboratorios}`"
              item-text="nomlab"
              item-value="idlaboratorios" 
              label="Laboratorio"
              persistent-hint
              return-object
              single-line
            ></v-select>
          </v-col>
          <v-col cols="12">
            <v-alert type="error" :value="alertaInput">
              {{alerta}}
            </v-alert>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
             
    <!-- SNACK BAR -->
    <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      :color="color" 
      >
      {{text}}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        Cerrar
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
  import {mapGetters} from 'vuex'
  export default {
    data () {
      return {
        laboratorios:[],
        laboratorio: {nomlab:'', idlaboratorios:''},

        existe: true,

        snackbar: false,
        text:'',
        color:'',

        codigo:'',
        result2:'',
        nomart:'',
        sal:'',
        lab:'',

        alerta:'',
        alertaInput: false
      }
    },


    computed: {
      ...mapGetters('productos',['getProducto']),
      validaInfo(){
        return  this.nomart      !==  '' && 
                this.sal         !==  '' &&       
                this.laboratorio.idlaboratorios         !==  '' 
      },
    },

    created(){
      this.codigo = this.getProducto.codigo
      this.nomart = this.getProducto.nomart
      this.sal = this.getProducto.sal
      this.lab = this.getProducto.lab
      console.log(this.getProducto)
      this.$http.get('movil/laboratorios.list').then(response=>{
        if(response.body.length > 0){
          this.laboratorios = response.body
          this.laboratorios.forEach((element =>{
            if(element.idlaboratorios == this.getProducto.idlaboratorio){
              console.log('si')
              this.laboratorio = {nomlab: element.nomlab, idlaboratorios: element.idlaboratorios}
            }
          }))
        }
      }).catch(error=>{
        console.log('error',error)
      })

    },

      
    methods:{

      agregar(){
        this.alerta = ''
        if(!this.validaInfo){
          if(!this.nomart){
            this.alerta = this.alerta +`
            No has asignado un nombre al articulo`
          }
          if(!this.sal){
            this.alerta = this.alerta +`
            No has asignado un compuesto  al articulo`
          }
          if(!this.laboratorio.idlaboratorios){
            this.alerta = this.alerta +`
            No has asignado un laboratorio al articulo`
          }
          this.alertaInput = true
          console.log(this.validaInfo)
        }else{
          var payload = {
            nomart: this.nomart,
            sal:    this.sal,
            idlaboratorio: this.laboratorio.idlaboratorios
          }
          console.log(payload)
          this.$http.put('movil/articulos.update/'+ this.getProducto.id, payload).then(response=>{
            this.text  = 'Artículo actualizado'
            this.snackbar = true
            setTimeout(() => (this.$router.push({name: 'catproductos'})), 1500)
          })
        }
      }



    }

  }

</script>