<template>  
  <v-container>
    <v-row >  
      <v-col>

        <!-- TOOLBAR -->
        <v-row>
          <v-col class="d-flex" cols="12">
            <v-toolbar class="elevation-0">
              <v-toolbar-title>Entradas</v-toolbar-title>
              <v-spacer></v-spacer>

              <!-- BTN ATRAS -->
              <v-btn 
                small
                class="ma-2" 
                color="blue lighten-2" 
                :to="{name:'catentradas'}" 
                dark>Atras
              </v-btn>

              <!-- BTN GUARDAR -->
              <v-btn 
                v-if="existe == false"
                small 
                dark 
                class="ma-2" 
                @click.prevent="agregar"
                color="blue darken-3">Grabar
              </v-btn>
            </v-toolbar>
          </v-col>
          <v-col cols="9">
            <v-text-field
              clearable
              label="Código"
              v-model="codigo"
              validate-on-blur
              class="pa-0"  
              outlined hide-details 
            ></v-text-field>
          </v-col>
          <v-col cols="2" align="center">
            <v-btn color="primary" rounded @click="openScan"><v-icon>search</v-icon></v-btn>
          </v-col>
          <v-col  cols="12">
            <v-text-field
              v-if="existe ==  false"
              readonly
              label="Nombre del artículo"
              v-model="nomart"
              outlined 
              hide-details 
            ></v-text-field>
          </v-col>
          <v-col  cols="6">
            <v-text-field
              v-if="existe ==  false"
              label="Cantidad recibida"
              v-model="cant1"
              outlined 
              hide-details 
              type="number" 
            ></v-text-field>
          </v-col>
          <v-col  cols="6">
            <v-text-field
              v-if="existe ==  false"
              label="Confirmar"
              v-model="cant2"
              outlined 
              hide-details 
              type="number" 
            ></v-text-field>
          </v-col>
          <v-col  cols="12">
            <v-text-field
              v-if="existe ==  false"
              label="Proveedor"
              v-model="proveedor"
              outlined 
              hide-details 
            ></v-text-field>
          </v-col>
          <v-col  cols="12">
            <v-text-field
              v-if="existe ==  false"
              label="Factura"
              v-model="factura"
              outlined 
              hide-details 
            ></v-text-field>
          </v-col>
          <v-col  cols="12">
            <v-text-field
              v-if="existe ==  false"
              label="Lote"
              v-model="lote"
              outlined 
              hide-details 
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-menu
              v-if="existe ==  false"
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :return-value.sync="caducidad"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="caducidad"
                  label="Fecha de caducidad"
                  prepend-icon="event"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="caducidad" no-title scrollable>
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                <v-btn text color="primary" @click="$refs.menu.save(caducidad)">OK</v-btn>
              </v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="12">
            <v-alert type="error" :value="alertaInput">
              {{alerta}}
            </v-alert>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
             
    <!-- SNACK BAR -->
    <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      :color="color" 
      >
      {{text}}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        Cerrar
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>

  export default {
    data () {
      return {
        existe: true,
        snackbar: false,
        text:'',
        color:'',

        codigo:'',
        result2:'',
        nomart:'',
        cant1:'',
        cant2:'',
        lote:'',
        caducidad: new Date().toISOString().substr(0, 10),
        menu: false,
        lote:'',

        proveedor:'',
        factura:'',

        alerta:'',
        alertaInput: false
      }
    },


    computed: {
      validaInfo(){
        return  this.codigo    !==  '' && 
                this.lote      !==  '' &&
                this.cant1     ===  this.cant2
      },
    },

    watch:{
      codigo(){
        this.$http.get('articulos.codigo/' + this.codigo).then(response =>{
          if(response.body.length > 0){
            this.nomart = response.body[0].nomart
            this.existe = false
          }else{
            this.text = 'No existe el articulo'
            this.snackbar = true
            this.existe = true
          }
          console.log(response.body)
        }).catch(error =>{
          this.text = 'No existe el articulo'
          this.snackbar = true
          console.log('error', error.status)
        })
      }
    },

    methods:{

      openScan(){

        cordova.plugins.barcodeScanner.scan(result=>{
          this.codigo = result.text
        },error=>{
          alert("Scanning failed: " + error);
        })

        cordova.plugins.barcodeScanner.encode(BarcodeScanner.Encode.TEXT_TYPE, "http://www.nytimes.com", success =>{
          alert("encode success: " + success);
        }, fail=>{
          alert("encoding failed: " + fail);
        })
      },

      agregar(){
        this.alerta = ''
        if(!this.validaInfo){
          if(this.codigo == ''){
            this.alerta = `No has escaneado ningun artículo`
          }
          if(this.nomart == ''){
            this.alerta = this.alerta +`
            El articulo no existe`
          }
          if(this.cant1 == ''){
            this.alerta = this.alerta +`
            Asigna una catidad recibida`
          }

          if(this.cant2 == ''){
            this.alerta = this.alerta +`
            Confirma la cantidad recibida`
          }

          if(this.cant1 != this.cant2){
            this.alerta = this.alerta +`
            No concuerdan las cantidades`
          }

          if(this.lote == ''){
            console.log(this.lote)
            this.alerta = this.alerta +`
            Asigna el lote`
          }
          this.alertaInput = true
          console.log(this.validaInfo)
        }else{
          var payload = {
            codigo:     this.codigo,
            cant:       this.cant1,
            caducidad:  this.caducidad,
            lote:       this.lote,
            fechaentr:  new Date().toISOString().substr(0, 10),
            proveedor:  this.proveedor,
            factura:    this.factura
          }
          this.$http.post('entradas.add', payload).then(response=>{
            this.text  = 'Artículo agregado'
            this.snackbar = true
            this.$http.post('almacen.add', payload).then(response=>{
              this.text  = 'Entrada agregada'
              this.snackbar = true
              setTimeout(() => (this.$router.push({name: 'catentradas'})), 1500)
            })
          })
        }
      },

    }

  }

</script>