<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-if="getLogeado == true"
      v-model="drawer"
      app
      >

      <v-container>
        <v-flex xs12 text-xs-center>
          <img src="https://surtimedix.com/imagenes/logo.png" alt="alt" max-height="80" width="200" align="center">
        </v-flex>
      </v-container>
     <v-card-text class="primary pa-1 white--text" align="center">
        {{ getdatosUsuario.nomper }}
      </v-card-text>
      
      <v-list dense>
        <template v-for="item in items">
          <v-list-item :to="{name: item.path}">
            <v-list-item-content >
              <v-list-item-title >
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
            <v-list-item-action v-if="item.icon">
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="primary"
      dark
      dense
    >
      <v-toolbar-title class="ml-0 pl-4">
        <v-app-bar-nav-icon @click.stop="drawer = !drawer" v-if="getLogeado == true"></v-app-bar-nav-icon>
        <span  v-if="getdatosUsuario.nomper">Almácen Tienda</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click="salir" v-if="getdatosUsuario.nomper">
        <v-icon>exit_to_app</v-icon>
      </v-btn>
    </v-app-bar>

    <!-- Ruteo de vistas -->
    <v-content>
      <v-container fluid >
        <v-slide-y-transition mode="out-in">
          <router-view/>
        </v-slide-y-transition>
      </v-container>
    </v-content>
    <v-footer>
      Versión 2.2
    </v-footer>
  </v-app>
</template>

<script>
import store from '@/store'
import {mapGetters, mapActions} from 'vuex'

  export default {
    props: {
      source: String,
    },
    data: () => ({
      logo:'',
      snackbar: false,
      drawer: null,
      items: [
        { text: 'Home'                   ,path: 'home' ,      icon:'home'},

        { text: 'Catálogo de articulos'  ,path: 'catproductos' ,      icon:'chrome_reader_mode'},
        { text: 'Laboratorios'           ,path: 'catlab',             icon:'local_hospital'},
        { text: 'Entradas  '             ,path: 'catentradas'  ,      icon:'book'},
        { text: 'Salidas'                ,path: 'catsalidas',         icon:'bookmarks'},
        { text: 'Existencias'            ,path: 'catexistencia' ,     icon:'store'},
        { text: 'Faltantes'              ,path: 'faltantes' ,         icon:'store'},
        { text: 'Discrepancias'          ,path: 'catdiscre',          icon:'assignment'},
        { text: 'Información'            ,path: 'info',               icon:'info'}
      ],
    }),
    beforeCreate(){
      // mandar a llamar la api
    },

    created(){
      // this.traerTema(1)
      this.logo = this.$http.options.root + '/imagenes/logo.png'
    },

    methods:{
      ...mapActions('tema',['traerTema']),
      ...mapActions('Login', ['salirLogin']),




      salir(){
        this.salirLogin()
        // Mando a llamar la accion salir
        this.$store.dispatch("salir")
      },

    },

    computed:{
     ...mapGetters('Login', ['getdatosUsuario', 'getLogeado']),
     ...mapGetters('tema', ['getTema']),
    
      logueado(){
        return this.$store.state.usuario;
      },

      esAdministradorSait(){
      return this.$store.state.usuario &&  this.$store.state.nivel == 'ADMIN';
      },

      esUsuarioWeb(){
        return this.$store.state.usuario &&  this.$store.state.nivel == 'USER';
      },
    }
}



</script>


