<template>
  <v-container>
    <v-row row wrap>

      <v-card width="100%" height="100%">
        <v-card-title primary-title>
          Catálogo de Salidas

          <v-spacer></v-spacer>
          <v-btn 
            class="ma-2" 
            small dark color="warning"
            @click="exportar()">
            <v-icon>save_alt</v-icon>
          </v-btn>
          <v-text-field
            dense
            v-model="search"
            append-icon="search"
            label="Buscar Productos"
            single-line
            hide-details
          ></v-text-field>

          <v-spacer></v-spacer>
          
          <!-- NUEVO -->
          <v-btn align="right" 
            color="primary" dark small 
            class="ma-2" 
            :to="{ name: 'newsalidas' }" >Nuevo
          </v-btn>

        </v-card-title>
        <v-card-text class="pb-0">
          <v-row class="pb-0">
            <v-col cols="6" class="pb-0">
              <v-menu
                class="pb-0"
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                :return-value.sync="inicio"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    dense
                    v-model="inicio"
                    label="Fecha de inicio"
                    prepend-icon="event"
                    readonly
                    v-on="on"
                    hide-details

                  ></v-text-field>
                </template>
                <v-date-picker v-model="inicio" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                  <v-btn text color="primary" @click="$refs.menu.save(inicio)">OK</v-btn>
                </v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="6">
              <v-menu
                ref="menu2"
                v-model="menu2"
                :close-on-content-click="false"
                :return-value.sync="fin"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    dense
                    v-model="fin"
                    label="Fecha de fin"
                    prepend-icon="event"
                    readonly
                    v-on="on"
                    hide-details
                  ></v-text-field>
                </template>
                <v-date-picker v-model="fin" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu2 = false">Cancel</v-btn>
                  <v-btn text color="primary" @click="$refs.menu2.save(fin)">OK</v-btn>
                </v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="3">
              <v-btn color="success" @click="filtroFechas" small><v-icon>search</v-icon></v-btn>
            </v-col>
            <v-col cols="3">
              <v-btn color="success" @click="init" small>All</v-btn>
            </v-col>
          </v-row>
        </v-card-text>
              
        <v-data-table
          :loading="loading"        
          :headers="headers"
          :items="productos"
          class="elevation-1"
          height="450"
          hide-default-footer
          loading-text="Cargando..."
          dense
          :search="search"
          :items-per-page="longitud"
          :mobile-breakpoint="200"
        >
          <!-- fixed-header -->
          <!-- :mobile-breakpoint="400" -->

          <!-- STATUSWEB -->
          <template v-slot:no-data>
            <v-alert type="info" color="primary" outlined :value="true">
              No hay datos para mostrar
            </v-alert>
          </template>
        </v-data-table>
      </v-card>
    </v-row>  
  </v-container>
</template>


<script>
  import {mapActions, mapGetters} from 'vuex'
  import XLSX from 'xlsx'
  
  export default {

    data: () => ({
      inicio:new Date().toISOString().substr(0, 10),
      fin:new Date().toISOString().substr(0, 10),
      menu: false,
      menu2: false,

      loading: true,
      longitud:5,
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      search:'',
      productos:[],
      headers: [
        { text: 'Articulo', align: 'left',sortable: false, value: 'nomart'},
        { text: 'Cantidad',  value: 'cant' },
        { text: 'Salida',    value: 'fecha' },
        { text: 'Lote',      value: 'lote' },
        { text: 'Caducidad', value: 'caducidad' },
        { text: 'Recibio',   value: 'recibio' },
        { text: 'entrego',   value: 'nomuser' },

      ],
    }),

    created(){
      this.init()
    },

    methods:{
      ...mapActions('productos',['traerProductos','addImg']),

      init(){
        this.productos= []
        this.$http.get('salidas.list').then(response =>{
          if(response == null){
            this.loading = false
            this.productos = []
          }else{
            this.loading = false
            this.productos = response.body
            this.productos.forEach(element=>{
              element.fecha = element.fecha.substr(0,10)
              element.caducidad = element.caducidad.substr(0,10)
            })
            this.longitud = this.productos.length
          }
        })
      },

      // EXCEL
      exportar(){
        let xls = {
          data:      this.productos,
          tHeaders : ['Codigo', 'Nombre', 'Fecha de Salida', 'Lote', 'Recibio', 'Entrego'],
          filterVal: ['codigo', 'nomart', 'fecha',           'lote', 'recibio', 'entrego'],
          nomfile :  "Salidas"
        }
        this.exportExcel()
      },

      s2ab(s) {
        var buf = new ArrayBuffer(s.length);
        var view = new Uint8Array(buf);
        for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
        return buf;
      },

      exportExcel(){
        this.productos.sort((a , b)=>{
          if (a.nomart > b.nomart) {
            return 1;
          }
          if (a.nomart < b.nomart) {
            return -1;
          }
          // a must be equal to b
          return 0;
        });
        let data = XLSX.utils.json_to_sheet(this.productos)
        const workbook = XLSX.utils.book_new()
        const filename = 'Salidas'
        XLSX.utils.book_append_sheet(workbook, data, filename)

        var wbout = XLSX.write(workbook, {
          bookType: 'xls',
          bookSST: false,
          type: 'binary'
        });

        const file = new File([new Blob([this.s2ab(wbout)])], filename + '.xls')
        console.log(file)
        
        let formData = new FormData();
        // //se crea el objeto y se le agrega como un apendice el archivo 
        formData.append('file',file);
        // /*Initialize the form data*/
        console.log('formData', formData)


        this.$http.post('pdfs',formData).then(response=> {
          alert(response.body)
          window.location = this.$http.options.root + 'pdfs/' + filename + '.xls'
        }).catch(error=> {
          alert(error.body)
          console.log(error);
        });

      },

      filtroFechas(){
        this.productos= []
        var payload = {
          inicio: this.inicio,
          fin:    this.fin
        }
        this.$http.post('salidas.fecha',payload).then(response =>{
          if(response == null){
            this.loading = false
            this.productos = []
          }else{
            this.loading = false
            this.productos = response.body
            this.longitud = this.productos.length
          }
        })
      }
    },

    computed:{
      ...mapGetters('productos',['getProductos'])
    }

  }
</script>





